
#svg {
	position: fixed;
	top: -2000%;
}

#test {
	display: inline-block;
	margin: 1em;
}
#test .data table {
	border-collapse: collapse;
}
#test .data th {
	padding: 0.4em;
}
#test .data td{
	border: 1px solid #c7c7c7;
	padding: 0.4em;
}
#test .data td.value {
	text-align: right;
}
.small {
	font-size: 0.8em;
	color: gray;
}
.rectHash {
	font-size: 4px;
}
.rectHash:hover {
	font-size: 100%;
}

.content-hidable.content-hidden .content, .content-hidable .anti-content {
	display: none;
}
.content-hidable .content, .content-hidable.content-hidden .anti-content {
	display: initial;
}
.content-hidable .toggle {
	cursor: pointer;
}