body {
	color: rgb(12, 12, 13);
	background-color: rgb(255, 255, 255);
}

.action {
	border-color: rgb(222, 222, 222);
}

.action:active, .action:hover, .action:focus {
	background-color: rgb(240, 240, 240);
}