.collapsible .collapser {
	color: rgb(244, 120, 255);
}

.hasHiddenActions {
	color: rgb(240, 182, 245);
}

.hasHiddenActions:hover, .hasHiddenActions .actions {
	background-color: rgb(208, 255, 0);
}