html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
#settings {
	width: 100%;
	box-sizing: border-box;
	height: 100%;
}
#settings.invalid {
	background-color: var(--input-error-background-color);
}