.contextualIdentities {
	display: block;
	margin: 0.5em 0;
}

.presetSection ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.presetSection ul li {
	display: inline-block;
}

.button {
	display: inline-block;
	outline: none;
}
.active .button {
	border-color: red;
}
.button:focus {
	outline: none;
	border-style: dotted;
}
.button::-moz-focus-inner {
	border: 0;
}

.values tbody + tbody tr:first-child td {
	padding-top: 1em;
}