.settings {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
}
.settings * {
	vertical-align: top;
}

.settings .settingRow.hidden {
	display: none;
}

.settings .settingRow .content {
	overflow: hidden;
	padding: 0.5em 0;
	border-top: 1px solid #c1c1c1;
}

.settings .settingRow .description {
	color: graytext;
	margin-inline-start: 2em;
	white-space: pre-wrap;
}
input[type=""], input[type="text"], input[type="number"], select {
	width: 100%;
	box-sizing: border-box;
}
*.multiple2 {
	width: 50% !important;
}
*.multiple3 {
	width: 33% !important;
}
*.multiple4 {
	width: 25% !important;
}