body.standalone {
	padding: 0.5em 0.5em 2.5em;
}

@media (max-width: 400px){
	body.standalone {
		padding: 0;
	}
}

header {
	margin-bottom: 1em;
}

header .bookmarkNotice {
	margin: 0.5em;
	padding: 0.5em;
}

@media (max-width: 400px){
	header {
		margin-bottom: 0.5em;
	}
	header h1 {
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}
}

header .bookmarkNotice .dontShowOptionsOnUpdate {
	display: block;
	margin-top: 0.5em;
	font-size: 0.8em;
}

header .bookmarkNotice .dontShowOptionsOnUpdate input {
	vertical-align: sub;
}

.resistFingerprintingNotice, .settingsNotice {
	margin: 0.5em 0;
	padding: 0.5em;
	border: 1px solid var(--input-error-background-color);
}

.settings {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
}
.settings * {
	vertical-align: top;
}

.settings .hidden {
	display: none;
}

.settings td, .settings th {
	margin: 0;
	padding: 0;
}

.settings .collapsed .settingRow {
	display: none;
}

.settings .section h2 {
	border: 1px #c1c1c1 solid;
	border-radius: 0.5em;
	padding: 0.2em 2em 0.2em 0.5em;
	margin: 0.7em 1px 0.2em;
	position: relative;
}

@media (max-width: 400px){
	.settings .section h2 {
		font-size: 1.2em;
	}
}

.settings .section .collapser {
	cursor: pointer;
	position: absolute;
	right: 0.8em;
}
.settings .section .collapser::before {
	content: "\25BC";
}
.settings .collapsed .section .collapser::before {
	content: "\25B6";
}
.searching .settings .section .collapser {
	visibility: hidden;
}

.settings .settingRow .content {
	display: block;
	overflow: visible;
	padding: 0.5em 0;
	border-top: 1px solid #c1c1c1;
	position: relative;
}
@media (max-width: 400px){
	.settings .settingRow .content {
		padding: 0.35em 0 0.25em;
	}
}
.settings .settingRow.displayHiddenRow td {
	position: relative;
}
.settings .settingRow.displayHiddenRow {
	display: table-row;
}
.settings .settingRow.displayHiddenRow .content {
	border-top: 0px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
}
.settings .settingRow.displayHiddenRow td + td + td .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.settings .settingRow td:first-child .content, td.hideColumn label {
	margin-left: 10px;
}
@media (max-width: 400px){
	.settings .settingRow td:first-child .content, td.hideColumn label {
		margin-left: 0px;
		padding-top: 0.1em;
	}
}
.settings .settingRow td:last-child .content {
	margin-right: 10px;
}

.settings .section + .settingRow .content, .settings .settingRow.firstVisible .content {
	border-top: 0 solid black;
}

.settings.hideDescriptions .settingRow .info {
	margin: -0.5em 0;
	width: 2em;
	height: 100%;
	display: inline-block;
}
.settings.hideDescriptions .settingRow .info::after {
	font-family: Serif;
	content: "i";
	margin: 0.5em;
	border-radius: 100%;
	background-color: gray;
	width: 1em;
	height: 1em;
	display: inline-block;
	text-align: center;
	line-height: 1em;
	font-weight: bold;
	color: white;
}
.settings.hideDescriptions .settingRow .info .description {
	display: none;
}
.settings.hideDescriptions .settingRow .info:hover .description {
	display: block;
	position: absolute;
	box-sizing: border-box;
	top: 90%;
	left: 5%;
	max-width: 90%;
	z-index: 10;
	border: 1px solid black;
	color: black;
	background-color: lightgrey;
	padding: 0.5em;
	text-align: left;
	font-weight: normal;
	white-space: pre-wrap;
}
.settings.displayDescriptions .settingRow .description {
	color: graytext;
	margin-inline-start: 2em;
	white-space: pre-wrap;
	padding-right: 5px;
}
@media (max-width: 400px){
	.settings.displayDescriptions .settingRow .description {
		margin-inline-start: 0.5em;
	}
}
input[type=""], input[type="text"], input[type="number"], select, textarea {
	width: 100%;
	box-sizing: border-box;
}
textarea {
	resize: vertical;
}
*.multiple2 {
	width: 50% !important;
}
*.multiple3 {
	width: 33% !important;
}
*.multiple4 {
	width: 25% !important;
}

.urlValues {
	padding-right: 1.25em;
	position: relative;
}
.urlValues.collapsed table {
	display: none;
}
.urlValues.expanded table {
	display: block;
	margin: 0.5em auto;
}
.urlValues table caption {
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}
.urlValues table td {
	vertical-align: middle;
}
.urlValues table .reset, .urlValues table .add, .urlValues table .url {
	cursor: pointer;
	margin: 0 0.2em;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: none;
	min-width: 0;
}
.urlValues table .url {
	min-width: 4em;
}
.urlValues table .urlInput {
	padding: 1px;
	margin: -1px;
}
.urlValues .collapser {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 1em;
	height: 1.275em;
	line-height: 1em;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: none;
	min-width: 0;
}
.urlValues.collapsed .collapser::after {
	content: "\25B6";
}
.urlValues.expanded .collapser::after {
	content: "\25BC";
}
.urlValues .notSpecifiedForUrl {
	opacity: 0.5;
}
.inputURL {
	max-width: calc(100% - 2em);
}

td.hideColumn {
	width: 45px;
}
@media (max-width: 400px){
	td.hideColumn {
		width: 33px;
	}
}

.hideContent {
	cursor: pointer;
}

.content.hideContent {
	position: relative;
}
.content .hide, .displayHidden {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}
.content .hide ~ .display, .displayHidden ~ .display {
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 20px;
	background-repeat: no-repeat;
	background-position-y: 50%;
}
.content .hide ~ .display, .displayHidden ~ .display {
	background-image: url(visible.svg);
}
.content .hide:checked ~ .display, .displayHidden:checked ~ .display {
	background-image: url(notVisible.svg);
}
.content .hide:focus ~ .display, .displayHidden:focus ~ .display {
	outline: 1px dotted black;
}

.optionsLink {
	text-align: right;
	font-size: 0.8em;
}
.optionsLink a {
	text-decoration: none;
}
.optionsLink a:hover {
	text-decoration: underline;
}

.version {
	text-align: right;
	color: gray;
	font-size: 0.8em;
}

#search {
	box-sizing: border-box;
	width: calc(100% - 10px);
}
.searching .settingRow {
	display: none;
}

.searching .settingRow.found:not(.hidden) {
	display: table-row;
}

/* groups */

.groupTabs {
	display: flex;
	flex-wrap: nowrap;
}

.groups {
	flex-basis: max-content;
	flex-shrink: 0;
	flex-grow: 0;
	list-style: none;
	margin: 0;
	margin-right: 1em;
	padding: 0;
	min-width: 50px;
	min-height: 100%;
	border-right: 1px solid #c1c1c1;
}
.searching .groups {
	visibility: hidden;
}
.groups .groupName {
	cursor: pointer;
	border: 1px solid #c1c1c1;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	margin: 2px;
}
@media (min-width: 401px){
	.groups .groupName.selected {
		border-right-color: transparent;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-right: -1px;
		padding-right: calc(1em + 3px);
		background-color: var(--background-color);
	}
}
@media (max-width: 400px){
	.groupTabs {
		display: block;
	}
	
	.groups {
		border: none;
		margin: 0 0 0.3em 0;
	}
	
	.groups .groupName {
		margin: 2px 0;
		padding: 1px 1em;
	}
	
	.groups .groupName.selected {
		background-color: var(--stacked-inputs-focus-color);
	}
}
body:not(.searching) .settings tbody.sectionBody:not(.selectedGroup) {
	display: none;
}