body {
	background-color: rgb(255, 255, 255);
	color: rgb(12, 12, 13);
}

a:link, a:visited, a:active {
	color: blue;
}

header .bookmarkNotice {
	border: 1px dotted #880000;
	color: #880000;
}

input, textarea, select, button {
	background-color: rgb(240, 240, 240);
	color: rgb(12, 12, 13);
	border-color: rgb(240, 240, 240);
}