.resolutions {
	display: block;
}

.complaint.high {
	background-color: red;
}

.complaint.medium {
	background-color: orange;
}

.complaint.low {
	background-color: yellow;
}

ul {
	padding-left: 1.2em;
}