body {
	--background-color: rgb(255, 255, 255);
	--input-background-color: rgb(249, 250, 249);
	--input-error-background-color: pink;
	--text-color: rgb(12, 12, 13);
	--link-color: blue;
	--button-background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 100%);
	--stacked-inputs-border-color: rgb(222, 222, 222);
	--stacked-inputs-focus-color: rgb(240, 240, 240);
}