setting[pref-name="showNotifications"] {
	border-bottom: 0px transparent none;
	padding-top: 0.5em;
}
setting[pref-name="ignoreList"]{
	border-top: 0px transparent none;
	padding-bottom: 0.5em;
}
setting[pref-name="showCallingFile"]{
	border-bottom: 0px transparent none;
	padding-top: 0.5em;
}
setting[pref-name="showCompleteCallingStack"]{
	border-top: 0px transparent none;
	padding-bottom: 0.5em;
}
setting[pref-name="stackList"]{
	border-top: 0px transparent none;
	padding-bottom: 0.5em;
}