body {
	color: rgb(60, 62, 60);
	background-color: rgb(249, 250, 249);
}

.collapsible .collapser {
	color: blue;
}

.hasHiddenActions {
	color: darkblue;
}

.hasHiddenActions:hover, .hasHiddenActions .actions {
	background-color: rgb(236, 237, 236);
}