.actions {
	display: block;
}

body {
	margin: 0.5em;
	padding: 2px;
	padding-right: 23px;
	white-space: nowrap;
	position: relative;
	color: black;
}

#prints {
	list-style: none;
	padding: 0;
	margin: 0;
}

button.action.isIcon {
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 0;
	background-color: transparent;
}
* + button.action.isIcon {
	margin-left: 1px;
}
button.action img {
	max-height: 19px;
	margin: 0;
}

.hasHiddenActions {
	position: relative;
	display: inline-block;
	color: darkblue;
}
.hasHiddenActions:hover {
	padding: 3px;
	margin: -3px;
	background-color: #f6f6f6;
	z-index: 10;
}
.hasHiddenActions .actions {
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	border-top-width: 0;
	background-color: #f6f6f6;
	padding: 2px 1px 1px 1px;
	line-height: 0;
}
.hasHiddenActions:hover .actions{
	display: block;
}


#globalActions {
	position: absolute;
	right: 0;
	top: 0;
	width: 23px;
	text-align: right;
	line-height: 0;
}

#globalActions .action img {
	margin-bottom: 4px;
}

.notifications .fakedCanvasContent {
	display: block;
	width: 100%;
	box-sizing: border-box;
	image-rendering: -moz-crisp-edges;
}

.notifications {
	margin: 0;
	padding: 0 0 20px 1em;
}

.collapsible {
	position: relative;
	margin: 0;
}
.collapsible.collapsed .collapser {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	box-sizing: border-box;
}
.collapsible .collapser {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}
.collapsible .collapser .more {
	display: none;
}
.collapsible.collapsed .collapser .more {
	display: inline;
}
.collapsible.collapsed .collapser .less {
	display: none;
}
.collapsible .collapser .less {
	display: inline;
}
.collapsible.collapsed .collapsing {
	height: 0px;
	overflow: hidden;
	padding: 0;
}
.collapsible .collapsing {
	height: initial;
	width: 100%;
	box-sizing: border-box;
}