body {
	--text-color: rgb(60, 62, 60);
	--background-color: rgb(249, 250, 249);
	--link-color: blue;
	--input-background-color: rgb(255, 255, 255);
	--input-error-background-color: pink;
	--button-background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 100%);
	--stacked-inputs-border-color: rgb(185, 185, 185);
	--stacked-inputs-focus-color: rgb(236, 237, 236);
}